*.gcda
*.gcno
*.gcov
*.o
*.pb.c
*.pb.h
*.pb
*~
*.tar.gz
julkaisu.txt
docs/*.html
docs/generator_flow.png
example/client
example/server
example_avr_double/decode_double
example_avr_double/encode_double
example_avr_double/test_conversions
example_unions/decode
example_unions/encode
generator/nanopb_pb2.pyc
tests/decode_unittests
tests/encode_unittests
tests/test_compiles
tests/test_decode1
tests/test_decode2
tests/test_decode3
tests/test_decode3_buf
tests/test_decode_callbacks
tests/test_encode1
tests/test_encode2
tests/test_encode3
tests/test_encode3_buf
tests/test_encode_callbacks
tests/test_missing_fields
tests/test_multiple_files
tests/bc_decode
tests/bc_encode
tests/breakpoints

