*.gcda
*.gcno
*.gcov
*.o
*.pb.c
*.pb.h
*.pb
*~
*.tar.gz
.sconsign.dblite
julkaisu.txt
docs/*.html
docs/generator_flow.png
example/client
example/server
example_avr_double/decode_double
example_avr_double/encode_double
example_avr_double/test_conversions
example_unions/decode
example_unions/encode
generator/nanopb_pb2.pyc
