name: Run tests with different configurations

on:
  workflow_dispatch:
  workflow_call:

jobs:
  test_linux:
    name: Test with clang on Ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4
        with:
          path: nanopb
          fetch-depth: "0"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3-protobuf protobuf-compiler scons
          sudo apt-get install clang valgrind

      - name: Test with PB_NO_MALLOC
        run: |
          cd nanopb/tests
          rm -rf build
          scons PBFLAGS="PB_NO_MALLOC" CC=clang CXX=clang++

      - name: Test with PB_NO_ERRMSG
        run: |
          cd nanopb/tests
          rm -rf build
          scons PBFLAGS="PB_NO_ERRMSG" CC=clang CXX=clang++

      - name: Test with PB_NO_DEFAULT_ALLOCATOR
        run: |
          cd nanopb/tests
          rm -rf build
          scons PBFLAGS="PB_NO_DEFAULT_ALLOCATOR" CC=clang CXX=clang++

      - name: Test with PB_NO_STREAM_CALLBACK
        run: |
          cd nanopb/tests
          rm -rf build
          scons PBFLAGS="PB_NO_STREAM_CALLBACK" CC=clang CXX=clang++

      - name: Test with PB_NO_RECURSION
        run: |
          cd nanopb/tests
          rm -rf build
          scons PBFLAGS="PB_NO_RECURSION" CC=clang CXX=clang++

      - name: Test with PB_NO_MALLOC PB_NO_RECURSION PB_NO_ERRMSG
        run: |
          cd nanopb/tests
          rm -rf build
          scons PBFLAGS="PB_NO_MALLOC PB_NO_RECURSION PB_NO_ERRMSG" CC=clang CXX=clang++
