+checks
+partial
+matchanyintegral
+strictlib
-nullassign
-predboolint
-predboolptr
+ptrnegate
-switchloopbreak
+ignoresigns
-infloopsuncon
-type
-looploopbreak

# splint's memory checks don't quite work without annotations
-mustfreeonly
-compmempass
-nullret
-observertrans
-statictrans
-compdestroy
-nullpass
-nullstate
-compdef
-usereleased
-temptrans
-dependenttrans
-kepttrans
-branchstate
-immediatetrans
-mustfreefresh
-allimponly
-retalias
-stackref

# These tests give false positives, compiler typically has
# better warnings for these.
-noret
-noeffect
-usedef
-fcnuse
-mayaliasunique

# Avoid false errors from static asserts
-DPB_NO_STATIC_ASSERT
-DPB_NO_OPT_ASSERT
